{% extends "main_body.html" %}
{% load static %}
{% load humanize %}
{% block title_content %}{{ product.name }}{% endblock title_content %}
{% block context %}
	<!-- Single Product Main Area Start -->
	<div class="single-product-main-area">
	    <div class="container container-default custom-area">
			<form method="post" action="{% url cart"></form>
		<div class="row">
		    <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 col-custom">
			<div class="product-details-img">
			    <div class="single-product-img swiper-container gallery-top popup-gallery">
				<div class="swiper-wrapper">
					{% for picture in product.pictures %}
				    <div class="swiper-slide">
					<a class="w-100" href="{{ picture.image }}">
					    <img class="w-100" src="{{ picture.image }}" alt="Product">
					</a>
				    </div>
					{% endfor %}
				</div>
			    </div>
			    <div class="single-product-thumb swiper-container gallery-thumbs">
				<div class="swiper-wrapper">
					{% for picture in product.pictures %}
				    <div class="swiper-slide">
					<img src="{{ picture.image }}" alt="Product">
				    </div>
					{% endfor %}
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next swiper-button-white"><i class="lnr lnr-arrow-right"></i></div>
				<div class="swiper-button-prev swiper-button-white"><i class="lnr lnr-arrow-left"></i></div>
			    </div>
			</div>
		    </div>
		    <div class="col-lg-7 col-custom">
			<div class="product-summery position-relative">
			    <div class="product-head mb-3">
				<h2 class="product-title">{{ product.name }}</h2>
			    </div>
			    <div class="price-box mb-2">
				<span class="regular-price">{{ product.price }} تومان</span>
				<span class="old-price"><del>{{ product.price }} تومان</del></span>
			    </div>
			    <div class="product-rating mb-3">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			    </div>
			    <div class="sku mb-3">
				<span>کد محصول: {{ product.id }}</span>
			    </div>
			    <p class="desc-content mb-5">{{ product.description }}</p>
				<form method="post" action="{% url 'cart_item_add' product.id %}" enctype="application/json">{% csrf_token %}
			    <div class="quantity-with_btn mb-5">
				<div class="quantity">
				    <div class="cart-plus-minus">
						<input name="product"  value={{ product.id }} type="hidden" readonly>
					<input class="cart-plus-minus-box" value="1" type="text" name="count">
					<div class="dec qtybutton">-</div>
					<div class="inc qtybutton">+</div>
				    </div>
				</div>
				<div class="add-to_cart">
				    <button type="submit" class="btn product-cart button-icon flosun-button dark-btn" ">افزودن به سبد خرید</button>
				    <a class="btn flosun-button secondary-btn secondary-border rounded-0" href="#">لیست خرید بعدی</a>
				</div>
			    </div>
				</form>
			</div>
		    </div>
		</div>
<!--		<div class="row mt-no-text">-->
<!-- **************************** removed somthing ************************************-->
<!--		</div>-->
	    </div>
	</div>
	<!-- Single Product Main Area End -->
	<!--Product Area Start-->
	<div class="product-area mt-text-3">
	    <div class="container custom-area-2 overflow-hidden">
		<div class="row">
		    <!--Section Title Start-->
		    <div class="col-12 col-custom">
			<div class="section-title text-center mb-30">
			    <span class="section-title-1">هدایای ویژه
</span>
			    <h3 class="section-title-3">محبوب ترین ها</h3>
			</div>
		    </div>
		    <!--Section Title End-->
		</div>
		<div class="row product-row">
		    <div class="col-12 col-custom">
			<div class="product-slider swiper-container anime-element-multi">
			    <div class="swiper-wrapper">
					{% for top_product in top_products %}
				<div class="single-item swiper-slide">
				    <!--Single Product Start-->

				    <div class="single-product position-relative mb-30">
					<div class="product-image">
					    <a class="d-block" href="product-details.html">
						<img src="{{ top_product.image.url }}" alt="" class="product-image-1 w-100">
						<img src="{{ top_product.image.url }}" alt="" class="product-image-2 position-absolute w-100">
					    </a>
					    <span class="onsale">تخفیف!</span>
					    <div class="add-action d-flex flex-column position-absolute">
						<a href="#" title="مقایسه">
						    <i class="lnr lnr-sync" data-toggle="tooltip" data-placement="right" title="مقایسه"></i>
						</a>
						<a href="wishlist.html" title="لیست خرید بعدی">
						    <i class="lnr lnr-heart" data-toggle="tooltip" data-placement="right" title="پسندیدم"></i>
						</a>
						<a href="#exampleModalCenter" title="نمایش سریع" data-toggle="modal" data-target="#exampleModalCenter">
						    <i class="lnr lnr-eye" data-toggle="tooltip" data-placement="right" title="نمایش سریع"></i>
						</a>
					    </div>
					</div>
					<div class="product-content">
					    <div class="product-title">
						<h4 class="title-2"> <a href="{% url 'product_detail' pk=top_product.id %}">{{ top_product.name }}</a></h4>
					    </div>
					    <div class="product-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					    </div>
					    <div class="price-box">
						<span class="regular-price ">{{ top_product.price }} تومان</span>
						<span class="old-price"><del>{{ top_product.price }} تومان</del></span>
					    </div>
					    <a href="#" class="btn product-cart">افزودن به سبد خرید</a>
					</div>
				    </div>
					</div>
					{% endfor %}
				    <!--Single Product End-->
				</div>
			    </div>
			    <!-- Slider pagination -->
			    <div class="swiper-pagination default-pagination"></div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<!--Product Area End-->
{% endblock %}