{% extends "main_body.html" %}
{% load static %}
{% load humanize %}
{% block title_content %}ثبت سفارش{% endblock title_content %}
{% block context %}

	<!-- Checkout Area Start Here -->
	<div class="checkout-area mt-no-text">
	    <div class="container custom-container">
		<div class="row">
		    <div class="col-lg-6 col-12 col-custom">
			<form action="{% url 'checkout' %}" method="post">{% csrf_token %}
			    <div class="checkbox-form">
				<h3>اطلاعات فاکتور</h3>
				<div class="row">
				    <div class="col-md-6 col-custom">
					<div class="checkout-form-list">
					    <label>نام <span class="required">*</span></label>
					    {{ form.first_name }}
					</div>
				    </div>
				    <div class="col-md-6 col-custom">
					<div class="checkout-form-list">
					    <label>نام خانوادگی <span class="required">*</span></label>
					    {{ form.last_name }}
					</div>
				    </div>
				    <div class="col-md-12 col-custom">
					<div class="checkout-form-list">
					    <label>آدرس <span class="required">*</span></label>
					    {{ form.address }}
					</div>
				    </div>
				    <div class="col-md-12 col-custom">
					<div class="checkout-form-list">
					    <label>استان <span class="required">*</span></label>
					    {{ form.state }}
					</div>
				    </div>
				    <div class="col-md-6 col-custom">
					<div class="checkout-form-list">
					    <label>شهر <span class="required">*</span></label>
					    {{ form.city }}
					</div>
				    </div>
				    <div class="col-md-6 col-custom">
					<div class="checkout-form-list">
					    <label>کد پستی <span class="required">*</span></label>
					    {{ form.postal_code }}
					</div>
				    </div>
				    <div class="col-md-6 col-custom">
					<div class="checkout-form-list">
					    <label>ایمیل <span class="required">*</span></label>
						{{ form.email }}
					</div>
				    </div>
				    <div class="col-md-6 col-custom">
					<div class="checkout-form-list">
					    <label>تلفن <span class="required">*</span></label>
					    {{ form.phone_number }}
					</div>
				    </div>
					<div class="payment-method">
				<div class="payment-accordion">
				    <div class="order-button-payment">
					<button type="submit" class="btn flosun-button secondary-btn black-color rounded-0 w-100">پرداخت و ثبت نهایی سفارش</button>
				    </div>
				</div>
			    </div>
				</div>
			    </div>
			</form>
		    </div>
		    <div class="col-lg-6 col-12 col-custom">
			<div class="your-order">
			    <h3>سفارش شما</h3>
			    <div class="your-order-table table-responsive">
				<table class="table">
				    <thead>
					<tr>
					    <th class="cart-product-name">محصول</th>
					    <th class="cart-product-total">مبلغ کل</th>
					</tr>
				    </thead>
				    <tbody>
					{% for item in cart.cart_items %}
					<tr class="cart_item">
					    <td class="cart-product-name">{{ item.product.name }}<strong class="product-quantity">
						    × {{ item.count }}</strong></td>
					    <td class="cart-product-total text-center"><span class="amount">{{ item.total_price }} تومان</span></td>
					</tr>
					{% endfor %}
				    </tbody>
				    <tfoot>
					<tr class="cart-subtotal">
					    <th>مبلغ کل</th>
					    <td class="text-center"><span class="amount">{{ cart.total_price }} تومان</span></td>
					</tr>
					<tr class="order-total">
					    <th>قابل پرداخت</th>
					    <td class="text-center"><strong><span class="amount">215.000 تومان</span></strong></td>
					</tr>
				    </tfoot>
				</table>
			    </div>

			</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Checkout Area End Here -->

{% endblock %}